.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #425D87;
  background-color: #425D87;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #303558;
  background-color: #303558;
}

.btn.btn-form {
  border: 1px solid #425D87;
  background-color: #425D87;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}

.btn.btn-home {
  border: 1px solid #29b1c3;
  background-color: #29b1c3;
  border-radius: 40px;
}
